.numbers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.span2 {
    grid-column: 1 / span 2;
    text-align: center;
    background-color: rgb(116, 116, 17);
    vertical-align: middle;
    line-height: 4rem;
}

.vspan2 {
    grid-row: span 2;
    text-align: center;
    vertical-align: middle;
    line-height: 8rem;
    background-color: yellow;
}

#display {
    min-height: 80px;
    width: 300px;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 5px;
    text-align: right;
}